<!DOCTYPE html>
<html>
  <head>
    <noscript>
      <meta http-equiv="refresh" content="0; url=${to_uri}" />
    </noscript>
    <script>
      var target = "${to_uri}";
      if (window.location.hash) {
        window.location.replace(target + window.location.hash);
      } else {
        window.location.replace(target);
      }
    </script>
  </head>
</html>
