[run]
branch = True
include =
    **/.tox/*/lib/*/site-packages/hypothesis/*.py
    **/.tox/*/lib/*/site-packages/hypothesis/**/*.py
omit =
    **/pytestplugin.py
    **/strategytests.py
    **/internal/debug.py
    **/compat*.py
    **/extra/__init__.py

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
    NotImplementedError
    pragma: no cover
    __repr__
    __ne__
    __copy__
    __deepcopy__
