[run]
branch = True
include =
  src/**/*.py
  hypothesis-extra/*/src/**/*.py
omit =
    src/hypothesis/settings.py
    src/hypothesis/internal/compat.py
    src/hypothesis/extra/__init__.py

[paths]
source =
   src/
   hypothesis-extra/*/src/
   .tox/*/lib/python*/site-packages/hypothesis
   .tox/*/lib/python*/site-packages/hypothesis-*

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
    pragma: no cover
