[run]
branch = True
source =
    tests/
include = src/
omit =
    src/hypothesis/settings.py
    src/hypothesis/internal/compat.py
    src/hypothesis/extra.py

[paths]
source =
   src/
   .tox/*/lib/python*/site-packages/hypothesis

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
