[flake8]

exclude =
    test_reflection.py,
    test_imports.py,
    test_lambda_formatting.py
ignore =
    # `black` creates these ones
    E203,E501,W503,
    # ambiguous variable name, e.g. 'l'
    E741,
    # Various codes from flake8-docstrings we don't care for
    D1,D205,D209,D213,D301,D400,D401,D402,D412,D413,D999,D202,
    # flake8-bugbear options we disagree with
    B008,B011,
    # flake8-bandit security warnings we disagree with or don't mind
    S101,S102,S105,S110,S307,S311,S404,S6
extend-select =
    # enable checks for self-or-cls param name, use of raise-from
    B902,B904
