[flake8]

exclude =
    compat.py,
    hypothesis-python/src/hypothesis/vendor/*,
    test_reflection.py,
    test_imports.py,
    hypothesis-python/tests/py2/*,
    test_lambda_formatting.py
ignore = F811,D1,D205,D209,D213,D400,D401,D412,D413,D999,D202,E203,E501,W503,B008,B011

# Use flake8-alfred to forbid builtins that require compatibility wrappers.
warn-symbols=
    bytes=Instead of bytes(), use hbytes() or binary_type
