# misc (editors, file systems, etc)

*.swo
*.swp
.idea
.vagrant
.DS_Store
.hypothesis
.vscode/

# generic build components

.runtimes
/hypothesis-python/branch-check*
/pythonpython3.*
/pythonpypy3.*
.pyodide-xbuildenv

# python

*.pyc
*.pyo
venv*
.cache
.pytest_cache
.mypy_cache
docs/_build
*.egg-info
_build
.tox
.coverage
.pypirc
htmlcov
build
dist
.doctrees/
.v*/

# encrypted files
secrets.tar
secrets

# Rust build targets
target

_site/
.sass-cache/
.docker

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
sftp-config.json

# Vim files

*.sw*

__pycache__

.jekyll-metadata

HypothesisWorks.github.io.iml
jekyll.log
/website/output/
/t.py
