# misc (editors, file systems, etc)

*.swo
*.swp
.idea
.vagrant
.DS_Store
.hypothesis

# generic build components

.runtimes

# python

*.pyc
venv*
.cache
.pytest_cache
.mypy_cache
docs/_build
*.egg-info
_build
.tox
.coverage
.pypirc
htmlcov
build
dist

# encrypted files
secrets.tar
secrets

# Rust build targets
target
