language: c

sudo: false

env: PYTHONDONTWRITEBYTECODE=x

os:
    - linux

branches:
  only:
    - "master"

cache:
    apt: true
    directories:
        - $HOME/.runtimes
        - $HOME/.venv
        - $HOME/.cache/pip
        - $HOME/wheelhouse

env:
    global:
        - BUILD_RUNTIMES=$HOME/.runtimes

    matrix:
        # Core tests that we want to run first.
        - TASK=documentation
        - TASK=lint
        - TASK=check-format
        - TASK=check-coverage
        - TASK=check-pypy
        - TASK=check-py27
        - TASK=check-py36
        - TASK=check-quality

        # Less important tests that will probably
        # pass whenever the above do but are still
        # worth testing.
        - TASK=check-unicode
        - TASK=check-ancient-pip
        - TASK=check-py273
        - TASK=check-py34
        - TASK=check-py35
        - TASK=check-nose
        - TASK=check-pytest28
        - TASK=check-faker070
        - TASK=check-faker071
        - TASK=check-django18
        - TASK=check-django110
        - TASK=check-django111

script:
    - make $TASK

matrix:
    fast_finish: true

notifications:
  email:
    recipients:
      - david@drmaciver.com
    on_success: never
    on_failure: change
