language: c

sudo: false

env: PYTHONDONTWRITEBYTECODE=x

os:
    - linux

branches:
  only:
    - "master"

cache:
    apt: true
    directories:
        - $HOME/.cargo
        - $HOME/.rustup
        - $HOME/.gem
        - $HOME/.cache/pip
        - $HOME/wheelhouse
        - $HOME/.stack
        - $HOME/.local
        - vendor/bundle

env:
    global:
        - BUILD_RUNTIMES=$HOME/.runtimes
        - FORMAT_ALL=true

jobs:
  include:
    # Prechecks that we want to run first.
    - stage: precheck
      env: TASK=check-whole-repo-tests
    - env: TASK=lint
    - env: TASK=lint-ruby
    - env: TASK=check-format
    - env: TASK=check-rust-tests

    - stage: main
      env: TASK=check-coverage
    - env: TASK=check-pypy
    - env: TASK=check-pypy3
    - env: TASK=check-py36
    - env: TASK=check-py27
    - env: TASK=check-ruby-tests
    - env: TASK=check-quality
    - env: TASK=check-py34
    - env: TASK=check-py35
    - env: TASK=check-py37
      sudo: required
      dist: xenial

    # Less important tests that will probably
    # pass whenever the above do but are still
    # worth testing.
    - stage: extras
      env: TASK=check-unicode
    - env: TASK=check-py27-typing
    - env: TASK=check-nose
    # https://github.com/HypothesisWorks/hypothesis/issues/1702
    # - env: TASK=check-pytest30
    - env: TASK=check-faker070
    - env: TASK=check-faker-latest
    - env: TASK=check-django21
    - env: TASK=check-django20
    - env: TASK=check-django111
    - env: TASK=check-pandas19
    - env: TASK=check-pandas20
    - env: TASK=check-pandas21
    - env: TASK=check-pandas22
    - env: TASK=check-pandas23

    - stage: deploy
      env: TASK=deploy

script:
    - ./build.sh

matrix:
    fast_finish: true

stages:
    - precheck
    - main
    - extras
    - name: deploy
      if: type = push

notifications:
  email:
    recipients:
      - david@drmaciver.com
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
      - libgmp-dev
