language: c

sudo: false

env: PYTHONDONTWRITEBYTECODE=x

os:
    - osx
    - linux

branches:
  only:
    - "master"

cache:
    apt: true
    directories:
        - $HOME/.runtimes
        - $HOME/.venv
        - $HOME/.cache/pip
        - $HOME/wheelhouse

env:
    global:
        - BUILD_RUNTIMES=$HOME/.runtimes

    matrix:
        - TASK=documentation
        - TASK=lint
        - TASK=check-format
        - TASK=check-coverage
        - TASK=check-unicode
        - TASK=check-ancient-pip
        - TASK=check-pypy
        - TASK=check-py27
        - TASK=check-py273
        - TASK=check-py34
        - TASK=check-py35
        - TASK=check-py36
        - TASK=check-nose
        - TASK=check-pytest28
        - TASK=check-fakefactory052
        - TASK=check-fakefactory053
        - TASK=check-fakefactory060
        - TASK=check-django17
        - TASK=check-django18
        - TASK=check-django19
        - TASK=check-django110

script:
    - make $TASK

matrix:
    exclude:
        - os: osx
          env: TASK=documentation
        - os: osx
          env: TASK=lint
        - os: osx
          env: TASK=check-format
        - os: osx
          env: TASK=check-coverage
        - os: osx
          env: TASK=check-unicode
        - os: osx
          env: TASK=check-ancient-pip
        - os: osx
          env: TASK=check-py273
        - os: osx
          env: TASK=check-py34
        - os: osx
          env: TASK=check-pytest28
        - os: osx
          env: TASK=check-fakefactory052
        - os: osx
          env: TASK=check-fakefactory053
        - os: osx
          env: TASK=check-fakefactory060
        - os: osx
          env: TASK=check-django17
        - os: osx
          env: TASK=check-django18
        - os: osx
          env: TASK=check-django19
        - os: osx
          env: TASK=check-django110
        - os: osx
          env: TASK=check-examples2
        - os: osx
          env: TASK=check-examples3
        - os: osx
          env: TASK=check-coverage
        - os: osx
          env: TASK=check-format
        - os: osx
          env: TASK=lint
    fast_finish: true

notifications:
  email:
    recipients:
      - david@drmaciver.com
    on_success: never
    on_failure: change
