language: python

python:
  - 2.7
  - 3.3
  - 3.4

before_script:
  - pip install pytest pytest-timeout coverage

script:
  - PYTHONPATH=src python -u -m coverage run --branch --include 'src/hypothesis/*' --omit 'src/hypothesis/settings.py,src/hypothesis/internal/compat.py' $(which py.test) -v tests --ignore=tests/test_recursively.py
  - coverage report -m --fail-under=100
  - PYTHONPATH=src py.test -v tests/test_recursively.py
  - pip install flake8 restructuredtext_lint pygments pyformat
  - find src tests -name "*.py" | xargs pyformat -i
  - git diff --exit-code
  - HYPOTHESIS_DATABASE_FILE=hypothesis.db PYTHONPATH=src py.test -v tests
  - PYTHONPATH=src python checkdb.py
  - HYPOTHESIS_DATABASE_FILE=hypothesis.db PYTHONPATH=src py.test -v tests
  - flake8 src tests --exclude=compat.py
  - rst-lint README.rst
  - ./installer-test.sh
