language: c

sudo: false

env: PYTHONDONTWRITEBYTECODE=x

ghc: 7.8

os:
    - linux

branches:
  only:
    - "master"

cache:
    apt: true
    directories:
        - $HOME/.runtimes
        - $HOME/.venv
        - $HOME/.cache/pip
        - $HOME/wheelhouse
        - $HOME/.stack
        - $HOME/.local

env:
    global:
        - BUILD_RUNTIMES=$HOME/.runtimes

    matrix:
        # Core tests that we want to run first.
        - TASK=check-shellcheck

script:
    - make $TASK

matrix:
    fast_finish: true

notifications:
  email:
    recipients:
      - david@drmaciver.com
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
      - libgmp-dev
