<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

<body>
  {% include header.html %}
  
  {{ content }}

  {% include footer.html%}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!--<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script> -->
  <script src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>

</body>

</html>
