---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page">

        <header class="page-header">
          <h3 class="page-title"><a href="{{page.url|prepend: site.baseurl}}">{{ page.title }}</a></h3>
          <div class="post-metadata">
            <div> <i class="fa fa-calendar"></i>
              <time>
                {{ page.date | date:'%A, %B %d, %Y'}}
              </time>
            </div>
            <div> <i class="fa fa-tag"></i>
              {% assign sorted_tags = page.tags |  sort %}
              {% for tag in sorted_tags %}
                <span class="label label-tag"><a href=/articles/{{tag}}/>{{tag}}</a></span>
              {% endfor %}
            </div>
          </div>

        </header>

        <article class="page-content">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
