---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page">

        <header class="page-header">
          <h3 class="page-title"><a href="{{page.url|prepend: site.baseurl}}">{{ page.title }}</a></h3>
          <div class="post-metadata">
            <div> <i class="fa fa-calendar"></i>
              <time>
                {{ page.date | date:'%A, %B %d, %Y'}}
              </time>
            </div>
            <div> <i class="fa fa-tag"></i>
                {% for tag in page.tags %}
                  <span class="label label-tag"><a href=/blog/{{tag}}/>{{tag}}</a></span>
                {% endfor %}
            </div>
          </div>

        </header>

        <article class="page-content">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
