---
layout: default
title: About Me
date: 2014-10-19 23:51
---

<div class="row">
  <div class=" col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                  <img class="img-circle img-responsive" 
                  src="{{site.data.personal.gravatar}}">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                
                <div itemscope itemtype="http://schema.org/Person" >
                  <h2> <span itemprop="name">{{site.data.personal.name}}</span></h2>
                  <p itemprop="jobTitle">{{site.data.personal.position}}</p>
                  <p><span itemprop="affiliation">{{site.data.personal.company}}</span></p>
                  <p>
                    <i class="fa fa-map-marker"></i> <span itemprop="addressRegion">{{site.data.personal.location}}</span>
                  </p>
                  <p itemprop="email"> <i class="fa fa-envelope">&nbsp;</i> <a href="mailto:{{site.data.personal.email}}">{{site.data.personal.email}}</a> </p>
                </div>
              </div>
            </div>
          </div>
          {% if site.data.personal.bio %}
            <div class="col-lg-12 centered-text">
              {{site.data.personal.bio}}
            </div>
          {% endif %}
        </div>
        
        
        
      </div>
      <div class="panel-footer">
        <div class="row">
          <div id="social-links" class=" col-lg-12">
              <div class="row">
                {% for socialButton in site.data.personal.social %}
                  <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 social-btn-holder">
                      <a title="{{socialButton[0]}}" class="btn btn-social btn-block {{ socialButton[1].btnClass }}" 
                          target="_BLANK" href="{{ socialButton[1].url }}">

                          <i class="fa {{socialButton[1].logo}}"></i> {{ socialButton[1].text}}

                      </a>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>

    </div> 
  </div>
</div>

