<div class="article-card" data-url="{{ SITEURL }}/{{ article.url }}"
     title="Read {{ article.title|striptags }}">

  <div class="article-card__header">
    <div class="article-card__title">
      {{ article.title }}
    </div>
  </div>

  <div class="article-card__meta">
    <div class="article-card-meta">

      <div class="article-card-meta__item">
        <span class="article-card-meta__value" title="{{ article.date.isoformat() }}">
          {{ article.date.strftime('%B %d, %Y') }}
        </span>
      </div>

      {% if article.author %}
      <span class="article-card-meta__separator">•</span>
      <div class="article-card-meta__item">
        <span class="article-card-meta__value">{{ article.author }}</span>
      </div>
      {% endif %}

    </div>
  </div>

  <div class="article-card__content">
    <div class="article-card__summary">
      {{ article.summary }}
    </div>
  </div>

</div>
