@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* global settings */
body {
  font-family: 'Lato', 'sans-serif';
  padding-bottom:60px;
  padding-top:50px;
}

.page-header{
  margin: 10px 0;
  text-align:center;
  padding-bottom:25px;
}
.page-header h1{
  margin: 0;
}


/*navbar stuff*/
.name-holder{
  margin-left:10px;
}


/*Primary navigation bar*/

.navbar .navbar-brand {
  padding: 0px;
}
.navbar .navbar-brand img {
  height: 51px;/* because the navbar has a height of 50px and 1px border bottom*/
}


body{
  font-size: 18px;
}

p {
  margin: 0.5em auto 0.5em auto;
}

h4, h3{
  margin: 1em auto 0.5em auto;
}

h4 {
  font-size: 20px;
}

h3 {
  font-size: 25px;
}


h2 {
  font-size: 30px;
}

.navbar-right li{
  font-size: 20px;
  text-align: center;
}
@media (max-width: 992px) {
  #main-menu li{
    font-size: 15px;
  }
  #main-menu li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*makes an anchor inactive(not clickable)*/

.inactive-link {
   pointer-events: none;
   cursor: default;
}

/*blog stuff */
.blog-short{
  border-bottom:1px solid #ddd;
  padding-bottom:30px;
  display: table;

}
.blog-short .excerpt{
  min-height:100px;
}
.margin10{margin-bottom:10px; margin-right:10px;}


/*footer*/
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    min-height: 10px;
    position: fixed;
    width: 100%;
    font-weight: bold;
}

/* social buttons */
/*social buttons */
.social-btn-holder{
  padding:10px;
  margin-top:5px;
  margin-bottom:5px;
}
.social-btn-holder .btn-social{
  font-size:12px;
  font-weight:bold;
}

.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
  opacity:1;
}
.btn-facebook {
background-color: #3b5998;
}
.btn-twitter {
background-color: #00aced;
}
.btn-linkedin {
background-color:#0e76a8;
}
.btn-github{
  background-color:#000000;
}
.btn-google {
  background-color: #c32f10;
}
.btn-stackoverflow{
  background-color: #D38B28;
}

.btn-hackerrank{
  background-color: #27AB5B;
}
.btn-soundcloud{
  background-color: #FF7202;
}


/* utility classes */
.no-margin:{
  margin:0;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.centered-text{
  text-align: center;
}


/* front page stuff */
.imgcontainer img{
  width: 100%;
}

#site-title{
  line-height: 50px;
  color: #002E62;
  font-weight: bold;
}

.container h1,h2,h3,h4,h5,h6{
    color: #002e62;
}
a{
 color: #0069df;
}
#main-menu a{
  color:#002e62;
}

.label-tag{
  background-color: #002e62;
}
.label-tag a{
  color: white;
}
.blog-header{
  background-color: #f8f8f8
}

blockquote {
  width: 100%;
  display: block;
  background: #f9f9f9;
  border: none;
  margin: 1em 0 1em 0;
  font-size: 20px;
  padding: 1em;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px auto 15px auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0px auto 25px auto;
}

form#tinyletter {
  display: block;
  width: 100%;
  margin: 1.5em 0 0;
  padding-right: 1em;
  text-align: right;
}

input#tlemail {
  width: 200px;
}

div.article-listing div.panel {
  width: 95%;
  margin: 0 auto 10px auto ;
}

div.article-listing div.panel-heading {
  text-align: center;
}

div.panel div.rss-plug{
  text-align: right;
}
