[run]
parallel = True
branch = True
source = hypothesis
omit =
    **/_hypothesis_ftz_detector.py
    **/_hypothesis_pytestplugin.py
    **/_hypothesis_globals.py
    **/extra/array_api.py
    **/extra/cli.py
    **/extra/django/*.py
    **/extra/ghostwriter.py
    **/extra/pytestplugin.py
    **/internal/scrutineer.py
    **/utils/terminal.py

[report]
fail_under = 100
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    def __repr__
    def _repr_pretty_
    def __ne__
    def __copy__
    def __deepcopy__
    except ImportError:
    except ModuleNotFoundError:
    if PYPY:
    if TYPE_CHECKING:
    if sys\.version_info
    if "[\w\.]+" in sys\.modules:
    if .+ := sys\.modules\.get\("[\w\.]+"\)
    @overload
    if .*\bnot .*provider.avoid_realization
