[run]
branch = True
omit =
    **/_hypothesis_pytestplugin.py
    **/extra/array_api.py
    **/extra/cli.py
    **/extra/django/*.py
    **/extra/ghostwriter.py
    **/extra/pytestplugin.py
    **/internal/scrutineer.py
    **/utils/terminal.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    def __repr__
    def __ne__
    def __copy__
    def __deepcopy__
    except ImportError:
    except ModuleNotFoundError:
    if PYPY:
    if TYPE_CHECKING:
    if "\w+" in sys\.modules:
    assert all\(.+\)
